<div id="flash_messages">
  <% if flash[:notice] %>
    <div class="alert alert-success">
     	<button type="button" class="close" data-dismiss="alert">×</button>
    	<%= flash[:notice] %>
  	</div>
  <% end %>

  <% if flash[:error] %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
    	<%= flash[:error] %>
  	</div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
    	<%= flash[:alert] %>
  	</div>
	<% end %>
</div>

<% unless administracao_usuario_signed_in? %>
  <% if @retorno.first %>
    <div class="iniciar_pesquisar">
      <%= link_to edit_entidade_auditoria_path(@retorno.last.unidade.entidade, @retorno.last, respondendo: 1), method: :get, class: 'btn btn-danger' do %>
        <br /><br /><br /><br /><br /><br /><br /><br />
        INICIAR PESQUISA
      <% end %>
    </div>
  <% else %>
    <div class="aguardando_pesquisa">
      AGUARDANDO LIBERAÇÃO DE PESQUISA
      <br /><br />
      <div id="loading_aguardando_pesquisa" class="progress progress-striped active">
        <div class="bar" style="width: 100%;" ></div>
      </div>
    </div>
  <% end %>

  <script type="text/javascript">
    jQuery(function($) {
      $('.btn-group').remove();
      $('.footer').remove();
      $('body').css('height', '400px');
      setInterval('window.location.reload()', 5000);
    });
  </script>
<% end %>
