<div id="flash_messages">
  <% if flash[:notice] %>
    <div class="alert alert-success">
     	<button type="button" class="close" data-dismiss="alert">×</button>
    	<%= flash[:notice] %>
  	</div>
  <% end %>

  <% if flash[:error] %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
    	<%= flash[:error] %>
  	</div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
    	<%= flash[:alert] %>
  	</div>
	<% end %>
</div>

<% unless administracao_usuario_signed_in? %>
  <div class="titulo-pagina">
    <% if @retorno.first %>
      <%= link_to 'INICIAR PESQUISA »', [:edit, @retorno.last.unidade.entidade, @retorno.last] %>
    <% else %>
      AGUARDANDO LIBERAÇÃO DE PESQUISA...
    <% end %>
  </div>
  <br />

  <script type="text/javascript">
    jQuery(function($) {
      $('.btn-group').remove();
      $('.footer').remove();
      setInterval('window.location.reload()', 5000);
    });
  </script>
<% end %>
