/*
 *= require_self
 *= require jquery-ui
 *= require jquery.treeview
 *= require jquery.contextMenu
 *= require fuelux
 *= require fuelux-responsive
 *= require_tree .
 */

li.no_bullet {
	list-style: none;
}

div.perfil-float-left {
	float: left;
	max-width: 350px;
}

li.perfil-float-left {
	float: left;
	width: 150px;
}

label.perfil-secao {
	background-color: #EEE9E9;
	font-weight: bold;
}

#user_nav {
	float: right;
	width: 250px;
	height: 160px;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
	background: #4F4F4F none;
	color: white;
}

.ui-autocomplete {
  z-index: 9999 !important;
}

.text-area-medium {
	height: 100px;
	width: 400px;
}

.text-area-large {
	height: 150px;
	width: 700px;
}

div#form_acoes {
	left: 35%;
	width: 900px;
	height: 600px;
}

div.acao-float-left {
	float: left;
	max-width: 700px;
}

li.acao-float-left {
	float: left;
	width: 300px;
}

div.aguardando_pesquisa {
  position: absolute;
  top: 80%;
  left: 55%;
  margin-top: -50px;
  margin-left: -500px;
  width: 1200px;
  font-size: 37pt;
}

div#loading_aguardando_pesquisa {
	width: 1000px;
}

div.iniciar_pesquisar {
  position: fixed;
  top: 40%;
  left: 34%;
  margin-top: -100px;
  margin-left: -500px;
  width: 1300px;
  font-size: 50px;
}

div.iniciar_pesquisar a {
	width: 1300px;
	height: 350px;
	font-size: 100px;
	text-align: center;
}

div.formulario-auditoria {
	position: absolute;
	/*left: 29% !important;*/
	width: 900px;
}

label.pergunta {
	font-size: 40px;
	/*font-weight: bold;*/
	line-height: 100%
}

label.resposta {
	font-size: 30px;
	text-transform: uppercase;
}

.titulo-auditoria {
	position: absolute;
	/*left: 29% !important;*/
  line-height: 54px;
  font-size: 55px;
  font-weight: bold;
}

.botoes-radio{
	width: 200px;
	height: 70px;
	font-size: 30pt !important;
	font-weight: bold;
	color: #7E7E7E !important;
	border-radius: 10px 10px 10px 10px !important;
}

.botoes-radio-liberacao {
	width: 400px;
	height: 150px;
	font-size: 40pt !important;
	font-weight: bold;
}

input.finalizar {
	width: 500px;
	height: 100px;
	font-weight: bold;
	font-size: 30px; 
}

.layout-auditoria {
	position: absolute !important;
	width: 900px !important;
	left: 5% !important;
	overflow-x: hidden;
}

#loading img {
	position: relative;
	left: 37% !important;
}

#loading p {
	text-align: center;
}

#imgpos {
position: absolute;
top:15%;
left: 35%;

} 

#txtposinicio
{
	position: absolute;
	top:35%;
	left: 30%;
}

#fundo_auditoria
{
	background-image: url("fundo.png");
	background-repeat: repeat-xy;

}

.pergunta
{
	color: #003f6a;
}
