<p>Bem Vindo <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>
<p>Você pode confirmar sua conta de e-mail através do link abaixo:</p>

<p><%= link_to 'Confirmar minha conta', administracao_confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
