<table>
	<thead>
		<tr>
			<th>Opção</th>
			<th>Nota</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				Sim
				<%=hidden_field_tag 'item_verificacao[alternativas_attributes][1][titulo]',"Sim" %>
			</td>
			<td>
				<%=text_field_tag 'item_verificacao[alternativas_attributes][1][peso]' %>
			</td>
		</tr>
		<tr>
			<td>
				Não
				<%=hidden_field_tag 'item_verificacao[alternativas_attributes][2][titulo]',"Não" %>
			</td>
			<td>
				<%=text_field_tag 'item_verificacao[alternativas_attributes][2][peso]' %>
			</td>
		</tr>
	</tbody>
</table>
