<div class="titulo-pagina">
  Questões »
</div>
<br />

<% if @questoes.any? %>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Tipo</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @questoes.each do |q| %>
        <tr>
          <td><%= q.titulo %></td>
          <td><%= q.tipo_verbose %></td>
          <td></td>
          <%if q.tipo == 4%>
          <td><%=link_to "Inserir Imagens",inserir_imagem_entidade_checklist_questoes_path(@checklist.unidade.entidade,@checklist,:questao_id=>q.id) %>
            
            <%else%>
            <td>Não permitido</td>
            <%end%>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <strong>Sem registros para exibir!</strong>
<% end %>

<br />
<%= link_to 'Voltar', [:entidade, @checklist], class: 'btn' %>