<div>
  <label for="item_verificacao_<%= item_verificacao.id %>" class="pergunta">
    <b><%= numero %>)</b>
    <%= item_verificacao.titulo %>
  </label>
  <br />
  <%= text_area_tag "respostas[#{item_verificacao.id}]",
  									(params['respostas'].present? ? params['respostas']["#{item_verificacao.id}"] : nil),
  									class: 'text-area-large' %>
</div>
<br /><br /><br /><br />
