<p>
	O cliente <%= @respostas.first.auditoria.cliente.nome.upcase %> deu às seguintes respostas na pesquisa:
	<br /><br />
	
	<% @respostas.each do |resposta| %>
		<%= resposta.item_verificacao.titulo %>
		<ul>
			<% if resposta.resposta.present? %>
				<li><%= resposta.resposta_verbose %></li>
			<% end %>
			<% if resposta.resposta_texto.present? %>
				<li><%= resposta.resposta_texto %></li>
			<% end %>
		</ul>
	<% end %>
</p>
<br />
