<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav"> 
        <li><%= link_to 'Home', [:administracao, :root] %></li>
        <li><%= link_to 'Entidades', [:administracao, :entidades] %></li>
        <li><%= link_to 'Usuários', [:administracao, :administradores] %></li>
      </ul>
    </div>
  </div>
</div>
