<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">

      <ul class="nav">
        <li>
          <%= link_to [:entidade, :usuarios] do %>
            <i class="icon-user icon-white"></i> Usuários
          <% end %>
        </li>

        <li>
          <%= link_to [:entidade, :checklists] do %>
            <i class="icon-ok-circle icon-white"></i> Checklists
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
