<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">

      <ul class="nav">
        <% if current_user.permitted_to?(:usuarios, :index) %>
          <li>
            <%= link_to [:entidade, :usuarios] do %>
              <i class="icon-user icon-white"></i> Usuários
            <% end %>
          </li>
        <% end %>
        <% if current_user.permitted_to?(:checklists, :index) %>
          <li>
            <%= link_to [:entidade, :checklists] do %>
              <i class="icon-ok-circle icon-white"></i> Checklists
            <% end %>
          </li>
        <% end %>
        <% if current_user.permitted_to?(:auditorias, :new) %>
          <li>
            <%= link_to [:new, :entidade, :auditoria] do %>
              <i class="icon-check icon-white"></i> Liberar Pesquisa
            <% end %>
          </li>
        <% end %>
        <% if current_user.permitted_to?(:auditorias, :inicir_pesquisa) %>
          <li>
            <%= link_to [:iniciar_pesquisa, :entidade, :auditorias] do %>
              <i class="icon-play icon-white"></i> Iniciar Pesquisa
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
