<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <% unless current_user.eh_caixa? %>
          <li><%= link_to 'Configurações', [:edit, :entidade, :administracao, Configuracao.cria_ou_retorna_configuracao] %></li>
          <li><%= link_to 'Perfis', [:entidade, :administracao, :perfils] %></li>
          <li><%= link_to 'Unidades', [:entidade, :administracao, :unidades] %></li>
          <li><%= link_to 'Escolher Unidade', [:escolher_unidade, :entidade, :administracao, :unidades] %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
